
/* Статистика */
.main-stat__header{
    text-align: center;
    font-size: 40px;
}
.stat-cards-wrapper{
    display: flex;
    justify-content: space-around;
}

/* Карточки */
.card__part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__part .part__number{
    font-size: 50px;
    font-weight: 700;
}
.card__part  .part__title{
    font-size: 16px;
    font-weight: 700;
}
.number-infected{
    color: #1877f2;
}
.number-death{
    color: #fb3938;
}
.number-recovered{
    color: #3aa969;
}
.number-serious{
    color: #9191ac;
}