@import 'shared.scss';

.timeline-panel {
  display: flex;
  justify-content: center;

    &__legend{
        margin: 0 0 0 $medium;
    }
}

.timeline-diagrams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .diagram {
    width: 30%;
  }
}

.timeline-stat {
  display: flex;
  justify-content: space-evenly;
}
