.timeline-panel {
    display: flex;
    justify-content: center;
}

.timeline-panel__legend {
    margin: 0 0 0 16px;
}

.timeline-diagrams {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.timeline-diagrams .diagram {
    width: 30%;
}

.timeline-stat {
    display: flex;
    justify-content: space-evenly;
}