@import 'shared.scss';

.app-container {
    margin: $large auto 0;
    padding: $large;
    border: 2px solid $content-border-color;
    background: $content-background-color;
    width: $content-width;
    border-radius: 10px;
}
