@import 'shared.scss';

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,123,255, 0.5);
    border-bottom: 5px solid rgba(5, 78, 156, 0.6);
    line-height: 50px;
    font-size: $medium-font;
    font-weight: $normal;

    &__item{
        display: flex;
        align-items: center;
    }
    &__icon{
        width: 30px;
        margin-right: $tiny;
    }
}
