@import 'shared';

.ant-collapse {
  border-radius: 10px;
  max-height: 70vh;
  overflow: auto;

  &-header {
    font-size: $tiny-font;
    font-weight: $normal;
  }
}

.hr-circle {
  background-position: 50%;
  border-style: solid;
  border-width: 0 0 5px;
  box-sizing: border-box;
  color: orange;
  height: 0;
  margin: 10px 0;
  padding: 0;
}
