.ant-collapse{
	border-radius: 10px !important;
	overflow: auto;
	max-height: 70vh;
}
.ant-collapse-header{
    font-weight: 500;
    font-size: 15px;
}

.hr-circle {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-width: 0 0 5px;
	border-style: solid;
	border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="orange" cx="1" cy="0.5" r="0.5"></circle></svg>') 0 0 100% repeat;
	background-position: 50%;
	box-sizing: border-box;
	color: orange;
}

